@import url("https://fonts.googleapis.com/css?family=Quicksand");
html {
  height: 75%;
  font-family: 'Quicksand', sans-serif;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  --bg: #ffffff;
  --bg-panel: #ffffff;
  --color-heading: rgb(87, 181, 147);
  --color-text: #555659;
  --color-text-alt: #87888d;
  --color-text-link: lightgrey;
  --color-text-link-hover: grey;
  --color-toggle-border: #dfdfdf;
  --color-toggle: #ffffff;
}

html .container {
  -webkit-box-shadow: 0px 32px 167px -21px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 32px 167px -21px rgba(0, 0, 0, 0.15);
}

html[data-theme="dark"] {
  --bg: #1f2429;
  --bg-panel: #16191c;
  --color-heading: #6ee7bf;
  --color-text: #5f6770;
  --color-text-alt: #4b5158;
  --color-text-link: #454c53;
  --color-text-link-hover: #727d88;
  --color-toggle-border: #0e0e0e;
  --color-toggle: #23272b;
}

html[data-theme="dark"] .container {
  -webkit-box-shadow: 0px 32px 167px -21px rgba(0, 0, 0, 0);
          box-shadow: 0px 32px 167px -21px rgba(0, 0, 0, 0);
}

body {
  background-color: var(--bg);
}

.toggle-container {
  position: absolute;
  right: 2rem;
  top: 2rem;
}

.container {
  background-color: var(--bg-panel);
  padding: 4em;
  font-size: 21px;
  border-radius: 0.8rem;
  min-width: 680px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
  grid-gap: 0.5em;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
      grid-template-areas: "location temperature icon";
}

.container .location {
  color: var(--color-heading);
  font-size: 1.65em;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: location;
  margin: 0;
}

.container .temp-info {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: temperature;
  font-size: 0.90em;
  line-height: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .icon {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: icon;
  position: relative;
  -ms-grid-column-align: right;
      justify-self: right;
}

.container .temperature {
  color: var(--color-text);
  font-size: 1.8em;
}

.container .temperature-description {
  color: var(--color-text-alt);
}

/* chrome */
label:focus {
  outline: none;
}

ul li {
  position: relative;
  right: 12px;
  float: right;
  list-style: none;
  font-weight: 500;
}

ul a {
  text-decoration: none;
  font-size: 0.90rem;
  color: var(--color-text-link);
  -webkit-transition: color .5s;
  transition: color .5s;
}

ul a:hover {
  color: var(--color-text-link-hover);
}

::-moz-selection {
  background: #333d4467;
}

::selection {
  background: #333d4467;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  -webkit-transition: all 750ms !important;
  transition: all 750ms !important;
  -webkit-transition-delay: 0 !important;
          transition-delay: 0 !important;
}

@media only screen and (max-width: 922px) {
  .container {
    margin: auto;
    width: auto;
    min-width: 70vw;
    grid-gap: 2em;
    padding: 3em;
  }
}

@media only screen and (max-height: 800px) {
  .container {
    margin-top: 10%;
  }
}

@media only screen and (max-width: 600px) {
  .spinner {
    top: 50% !important;
  }
  html {
    height: 90%;
  }
  html[data-theme="dark"] {
    --bg: #16191c;
    --color-toggle-border: #000000;
    --color-toggle: #3c434d;
  }
  html[data-theme="dark"] .container {
    background-color: rgba(0, 0, 0, 0) !important;
  }
  ul a {
    display: none;
  }
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgba(0, 0, 0, 0) !important;
    -webkit-box-shadow: 0px 32px 167px -21px rgba(0, 0, 0, 0) !important;
            box-shadow: 0px 32px 167px -21px rgba(0, 0, 0, 0) !important;
  }
  .container .location {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .container .icon {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: -20px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .container .temp-info {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.tippy-tooltip.even-darker-theme {
  background-color: #0b0d0e;
  color: #9fa7af;
}

.tippy-tooltip.even-darker-theme .tippy-roundarrow {
  fill: #0b0d0e;
}

.delay-25 {
  -webkit-animation-delay: .25s;
          animation-delay: .25s;
}

.delay-50 {
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

.delay-75 {
  -webkit-animation-delay: .75s;
          animation-delay: .75s;
}

.scale {
  -webkit-transform: scale(0.4);
          transform: scale(0.4);
}
/*# sourceMappingURL=main.css.map */